/* Write your CSS code here */
.main-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef2f4;
  height: 100vh;
}
.head {
  color: #ea580c;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
.form-con {
  background-color: #ffffff;
  height: 51vh;
  width: 39%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inp-con {
  width: 90%;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #9aa5b1;
  margin-top: 10px;
  margin-right: 10px;
  color: #9aa5b1;
  font-size: 16px;
  outline: none;
}
.label {
  color: #475569;
  font-size: 25px;
  font-weight: 400;
}
.submit-but {
  align-self: center;
  background-color: #ea580c;
  border: 0px solid #ea580c;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.error {
  color: red;
  font-size: 12px;
}
.success-img {
  height: 70px;
  width: 70px;
  align-self: center;
}
.success-text {
  color: #475569;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
